<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Chi-Fu-Mi</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <button class="menuitems"><a class="nav-link text-dark" [routerLink]="['/']"
              >Jouer</a
            ></button>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <button class="menuitems"><a class="nav-link text-dark" [routerLink]="['/scoreboard']"
              >Tableau des scores</a
            ></button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
